.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.page__title {
  margin-bottom: 35px;
}

.square__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}