.square__input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;

  &:focus {
    outline: none;
    border-color: #d615f0;
    box-shadow: 0 0 0 2px rgba(140, 0, 255, 0.25);
  }
}